@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/*Reset CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(67.63deg, #CFCFCD 20.87%, #F2F2F1 85.64%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 93px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #4D2004;
    font-weight: 700;
    font-size: 18px;
}