@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(67.63deg, #CFCFCD 20.87%, #F2F2F1 85.64%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 93px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #4D2004;
    font-weight: 700;
    font-size: 18px;
}

.conteudo {
    border-top: 00.4px solid rgba(77, 32, 4, 0.33);
           
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
    padding: 100px;
}

.conteudo-principal-titulo {
    padding-bottom: 80px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    text-align: left;
    color: #4D2004;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.conteudo-principal-inicio{
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.conteudo-principal-buttom {
    width: 311px;
    height: 67px;
    left: 343px;
    top: 649px;
    background: #4D2004;
    border: 0px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    line-height: 39px;
    color: #E9EBEC;
}

.conteudo-principal-texto-alt {
    padding-top: 10px;
    font-size: 18px;
    line-height: 33px;
    color: #82441F;
}